html {
    margin: 0px;
    body {
        margin: 0px;
    }
    td {
        padding: 0px;
        margin: 0px;
    }
    input {
        padding: 0px;
        margin: 0px;
    }
}

/* The tab-list is *40px* high specified by the A and LI elements plus ul border
*/
.tab-list {
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        border-top: 2px;
        border-top-style: solid;
        border-bottom-width: 3px;
        border-bottom-style: solid;

        position: fixed;
        left: 0px;
        right: 0px;
        z-index: 1;

        /* same as li.active a */
        background-color: #ccc;
        border-bottom-color: #666;

        li {
            float: left;
            label {
                display: block;
                text-align: bottom;
                padding: 0px 12px;
                height: 35px;
                text-decoration: none;
                align-content: center;
            }
            a {
                display: block;
                text-align: center;
                padding: 0px 12px;
                height: 35px;
                text-decoration: none;
                color: black;
                align-content: center;
            }
            a:hover {
                background-color: #ddd;
            }
        }
        li.active a {
            pointer-events: none;
            color: #fff;
            background: #666;
        }
        li.right {
            float: right;
        }
    }
}

/*
The *fixed-div* is at z-index 0 and occupies the whole window below the tab list
*/
.fixed-div {
    z-index: 0;
    position: fixed;
    touch-action: auto;
    overflow: scroll;
    top: 40px;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

/*
The *floating-div* is at z-index -1 (behind) and occupies the whole window below the tab list
*/
.floating-div {
    /* The outer div - force it to be the *whole* frame */
    z-index: 3;
    background-color: black;
    position: fixed;
    top: 40px;
    bottom: 0px;
    left: 0px;
    right: 0px;

    .flex.box {
        /* Inside the outer div, pack it in completely

        The content may want to be larger, but if allowed to grow/shrink then all will be good
        */
        display: flex;
        flex-flow: column;
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;

        .flex.content {
            /* The div where the canvas will go - this will flex to fill the whole frame
            */
            flex: 1 1 auto;
        }

        .flex.fixed {
            flex: 0 1 min-content;
        }

        .flex.footer {
            flex: 0 1 0px;
        }
    }
}

.album_content {
    a:visited {
        color: inherit;
    }
    a {
        color: inherit;
    }
}
